Source: libvterm
Priority: optional
Maintainer: James McCoy <jamessan@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 libtool-bin,
Standards-Version: 4.6.2
Section: libs
Homepage: https://www.leonerd.org.uk/code/libvterm/
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/jamessan/libvterm.git
Vcs-Browser: https://salsa.debian.org/jamessan/libvterm

Package: libvterm-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Depends:
 libvterm0 (= ${binary:Version}),
 ${misc:Depends},
Description: abstract terminal library (development files)
 An abstract C99 library which implements a VT220 or xterm-like terminal
 emulator. It doesn't use any particular graphics toolkit or output
 system, instead it invokes callback function pointers that its embedding
 program should provide it to draw on its behalf. It avoids calling
 malloc() during normal running state, allowing it to be used in embedded
 kernel situations.
 .
 This package contains the header files and libraries needed for developing
 with libvterm.

Package: libvterm0
Pre-Depends:
 ${misc:Pre-Depends},
Multi-Arch: same
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 neovim (<< 0.4),
 pangoterm (<< 0~bzr608),
Description: abstract terminal library
 An abstract C99 library which implements a VT220 or xterm-like terminal
 emulator. It doesn't use any particular graphics toolkit or output
 system, instead it invokes callback function pointers that its embedding
 program should provide it to draw on its behalf. It avoids calling
 malloc() during normal running state, allowing it to be used in embedded
 kernel situations.

Package: libvterm-bin
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: abstract terminal library (utility programs)
 An abstract C99 library which implements a VT220 or xterm-like terminal
 emulator. It doesn't use any particular graphics toolkit or output
 system, instead it invokes callback function pointers that its embedding
 program should provide it to draw on its behalf. It avoids calling
 malloc() during normal running state, allowing it to be used in embedded
 kernel situations.
 .
 This package contains utility programs that demonstrate libvterm.
